.footer {
  max-width: 880px;
  margin: 67px auto 60px;
}

@media screen and (max-width:900px) {
  .footer {
    width: 94vw;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    margin: 48px auto 36px;
    width: 89vw;
  }
}